@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600&family=Roboto:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important; }
  *:focus, * *:hover {
    outline: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

html, body {
  height: 100%;
  font-size: 14px; }

body {
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden !important;
  font-family: "Exo 2"; }

button, select {
  font-family: "Roboto", sans-serif; }

.container {
  padding: 0 15px;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  background: linear-gradient(162.44deg, #38394E 0%, #2A2A32 100%); }
  .container-logo {
    background: url("../images/background.png") no-repeat center/cover; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px 0 8px; }
  .header .language {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 15px; }
  .header-back {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background: url("../images/back.svg") no-repeat center; }

.header-log {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100px;
  padding: 20px 15px 0; }
  .header-log .language {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-top: 0; }
  .header-log .logo {
    padding-top: 20px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.language {
  position: relative;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .language-menu {
    cursor: pointer; }
    .language-menu:hover {
      opacity: 0.8; }

.welcome-title.login-title {
  font-size: 44px; }

.login-title {
  font-weight: 600;
  font-size: 34px;
  color: #fff;
  text-align: center;
  margin-top: 27px;
  letter-spacing: 1px; }
.login-subtitle {
  color: #DFE0F3;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 5px; }
.login-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 280px;
  width: 90%;
  margin: auto; }
.login-content .btn {
  margin: 40px auto 28px; }

.welcome-logo {
  margin: 14vh auto 40px; }

.input-st {
  margin-top: 28px;
  width: 100%; }
  .input-st input {
    border: none;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #8F90A3;
    width: 100%;
    display: block;
    font-size: 20px;
    color: #8F90A3;
    padding: 12px 0; }
  .input-st .input-label {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #DFE0F3; }

.password {
  position: relative; }
  .password-icon {
    position: absolute;
    right: 0;
    top: 16px;
    cursor: pointer; }
    .password-icon:hover {
      opacity: 0.8; }

.checkmark-wrap {
  width: 100%;
  position: relative;
  font-size: 1rem;
  color: #8F90A3;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px; }
.checkmark-text {
  text-align: center; }
  .checkmark-text a {
    font-weight: bold;
    font-size: 1rem;
    color: #8F90A3;
    border-bottom: 1px solid #8F90A3; }
    .checkmark-text a:hover {
      font-weight: normal; }

input::-webkit-input-placeholder {
  color: #8F90A3; }

input:-ms-input-placeholder {
  color: #8F90A3; }

input::-ms-input-placeholder {
  color: #8F90A3; }

input::placeholder {
  color: #8F90A3; }

.btn {
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
  border-radius: 60px;
  width: 100%;
  min-height: 48px;
  cursor: pointer; }
  .btn:hover {
    -webkit-transition: all 0.8s linear;
    transition: all 0.8s linear; }
  .btn-sm {
    font-size: 14px; }

.blue-btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#144DDE), to(#4070F4));
  background: linear-gradient(0deg, #144DDE 0%, #4070F4 100%); }
  .blue-btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#4070F4), to(#144DDE));
    background: linear-gradient(0deg, #4070F4 0%, #144DDE 100%); }

.dark-btn {
  background: -webkit-gradient(linear, left bottom, left top, from(#144DDE), to(#4070F4));
  background: linear-gradient(0deg, #144DDE 0%, #4070F4 100%);
  background: #2A2A32;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5); }
  .dark-btn:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#2A2A32), to(#38394E));
    background: linear-gradient(180deg, #2A2A32 0%, #38394E 100%); }

.orange-btn {
  background: linear-gradient(246.04deg, #FF8643 0%, #FF6163 100%); }
  .orange-btn:hover {
    background: linear-gradient(246.04deg, #FF6163 0%, #FF8643 100%); }

.btn-wait {
  border-radius: 3px;
  font-weight: 800;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFF;
  padding: 4px 8px;
  cursor: pointer; }

.gray-btn {
  background: #38394E;
  color: #8F90A3; }
  .gray-btn:hover {
    background: #2f3043; }

.accaunt-link {
  text-transform: uppercase;
  font-family: Exo 2;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 auto 10px; }
  .accaunt-link-gr {
    color: #8F90A3; }
  .accaunt-link-green {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-5.88%, #25BDBB), to(#0CE091));
    background: linear-gradient(180deg, #25BDBB -5.88%, #0CE091 100%);
    border-bottom: 1px solid #25BDBB;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .accaunt-link:hover {
    opacity: 0.8; }

.mt-20 {
  margin-top: 20px; }

.btn-add {
  position: relative;
  max-width: 230px;
  display: block;
  margin: auto; }
  .btn-add:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 9px;
    background: -webkit-gradient(linear, left bottom, left top, from(#4070F4), to(#144DDE));
    background: linear-gradient(0deg, #4070F4 0%, #144DDE 100%); }
  .btn-add:after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 9px;
    background: url("../images/plus.svg") no-repeat center; }
  .btn-add:hover:before {
    background: -webkit-gradient(linear, left bottom, left top, from(#144DDE), to(#4070F4));
    background: linear-gradient(0deg, #144DDE 0%, #4070F4 100%); }

.btn-prev {
  position: relative;
  display: block;
  margin: auto; }
  .btn-prev:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 9px;
    background: #25252D; }
  .btn-prev:after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 9px;
    background: url("../images/arrow.svg") no-repeat center;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.btn-next {
  position: relative;
  display: block;
  margin: auto; }
  .btn-next:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 9px;
    background: -webkit-gradient(linear, left bottom, left top, from(#4070F4), to(#144DDE));
    background: linear-gradient(0deg, #4070F4 0%, #144DDE 100%); }
  .btn-next:after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 9px;
    background: url("../images/arrow.svg") no-repeat center; }
  .btn-next:hover:before {
    background: -webkit-gradient(linear, left bottom, left top, from(#144DDE), to(#4070F4));
    background: linear-gradient(0deg, #144DDE 0%, #4070F4 100%); }

.checkboxContainer {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }
  .checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkboxContainer .checkmark {
    position: relative;
    height: 25px;
    width: 25px;
    border: 2px solid #8F90A3;
    cursor: pointer;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .checkboxContainer:hover input ~ .checkmark {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #FF8643, #FF6163); }
  .checkboxContainer input:checked ~ .checkmark {
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #FF8643, #FF6163); }
  .checkboxContainer .checkmark:after {
    content: "";
    position: relative;
    display: none; }
  .checkboxContainer input:checked ~ .checkmark:after {
    display: block; }
  .checkboxContainer .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #FF8643, #FF6163); }

.checkbox-bg {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer; }
  .checkbox-bg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .checkbox-bg .checkmark {
    position: relative;
    height: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-gradient(linear, left bottom, left top, from(#25252D), to(#25252D));
    background: linear-gradient(0deg, #25252D, #25252D);
    border-radius: 3px; }
  .checkbox-bg:hover input ~ .checkmark {
    border-image-slice: 1;
    background: linear-gradient(246.04deg, #00FFC2 0.01%, #00E0FF 100%); }
  .checkbox-bg input:checked ~ .checkmark {
    border-image-slice: 1;
    background: linear-gradient(246.04deg, #00FFC2 0.01%, #00E0FF 100%); }

.welcome-content .btn-add {
  margin-top: 56px; }

.led-title {
  background: -webkit-linear-gradient(#E82B27, #F59912);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(to left, #E82B27, #F59912);
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-decoration: underline;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative; }
  .led-title img {
    margin-right: 6px; }
  .led-title:after {
    content: "";
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #FF8643, #FF6163);
    position: absolute;
    bottom: 11px;
    right: 3px;
    left: 28px; }

.title-sm-gr {
  color: #8F90A3;
  font-weight: 600;
  font-size: 1rem;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase; }

.title-st {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #fff; }
  .title-st.fs-30 {
    font-size: 30px; }

.content-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 400px;
  margin: auto;
  width: 100%; }

.list-numbered {
  counter-reset: my-awesome-counter; }
  .list-numbered li {
    counter-increment: my-awesome-counter;
    padding: 7px 0 0 40px; }
    .list-numbered li:before {
      content: "" counter(my-awesome-counter);
      font-weight: bold;
      line-height: 1;
      font-size: 0.92rem;
      color: #DFE0F3;
      position: absolute;
      z-index: 1;
      left: 9px;
      top: 9px; }
    .list-numbered li:after {
      content: "";
      width: 26px;
      height: 26px;
      background: #2A2A32;
      -webkit-box-shadow: 0px 3px 5px #25252D;
              box-shadow: 0px 3px 5px #25252D;
      border-radius: 30px;
      position: absolute;
      left: 0;
      top: 0; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0 0;
  padding: 0;
  list-style: none; }
  .list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #DFE0F3;
    font-size: 1rem;
    position: relative;
    margin-bottom: 20px;
    line-height: 1.3; }
    .list li .checkbox-bg {
      margin-right: 15px; }

.group-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: auto;
  padding-top: 30px; }
  .group-btn .btn {
    width: 48%;
    margin: 0 auto 24px; }

.list-wr {
  padding-top: 40px; }
  .list-wr .title-sm-gr {
    margin-bottom: 15px; }

.binding-executors {
  background-color: #2A2A32;
  padding: 15px 75px 15px 20px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.3;
  color: #DFE0F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 94px; }
  .binding-executors:after {
    content: "";
    background: url("../images/link.svg") no-repeat center;
    position: absolute;
    right: 15px;
    top: 23px;
    width: 56px;
    height: 56px; }
.binding-title {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05em;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer; }
  .binding-title:hover {
    opacity: 0.8; }

.fenix {
  position: relative; }
  .fenix:after {
    content: "";
    position: absolute;
    right: 8px;
    top: 68px;
    width: 160px;
    height: 122px;
    z-index: 1; }
  .fenix-list {
    padding-top: 24px; }
  .fenix-bg {
    background: linear-gradient(162.44deg, #38394E 0%, #2A2A32 100%);
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 15px; }
  .fenix-header {
    padding: 16px 16px 16px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 2; }
    .fenix-header .status {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .fenix-header .status img {
        margin-left: 10px; }
  .fenix-title {
    font-weight: 500;
    font-size: 36px;
    color: #FFF; }
  .fenix-set-btn {
    background: -webkit-gradient(linear, left top, left bottom, from(#2A2A32), to(#38394E));
    background: linear-gradient(180deg, #2A2A32 0%, #38394E 100%);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    position: relative;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer; }
    .fenix-set-btn:after {
      content: "";
      background: url("../images/settings.svg") no-repeat center;
      width: 18px;
      height: 18px;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
      position: absolute;
      top: 11px;
      left: 11px; }
    .fenix-set-btn:hover {
      background: linear-gradient(162.44deg, #38394E 0%, #2A2A32 100%); }
      .fenix-set-btn:hover:after {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg); }
  .fenix-body {
    padding: 0 24px;
    position: relative;
    z-index: 2; }
  .fenix-footer {
    padding: 0 24px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 2; }
    .fenix-footer .btn {
      width: 45%; }
  .fenix-power-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0 27px;
    position: relative; }
    .fenix-power-wr .text {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #DFE0F3;
      padding-left: 16px; }
    .fenix-power-wr .power {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .fenix-power-wr .power-top {
        height: 5px;
        width: 12px;
        background: #8F90A3;
        border-radius: 2px 2px 0 0; }
      .fenix-power-wr .power-wr {
        border: 2px solid #8F90A3;
        border-radius: 2px;
        width: 21px;
        height: 37px;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
      .fenix-power-wr .power-bg {
        background: #38394E;
        width: 100%;
        position: relative;
        display: block; }
        .fenix-power-wr .power-bg svg {
          position: absolute;
          left: 0;
          right: 0;
          top: 0; }
        .fenix-power-wr .power-bg.low {
          background: linear-gradient(212.98deg, #FF6163 39.59%, #FF282B 100%); }
        .fenix-power-wr .power-bg.full {
          height: 100% !important;
          background: -webkit-gradient(linear, left top, left bottom, from(#25BDBB), to(#0CE091));
          background: linear-gradient(180deg, #25BDBB 0%, #0CE091 100%); }
          .fenix-power-wr .power-bg.full svg {
            display: none; }
        .fenix-power-wr .power-bg.high {
          background: -webkit-gradient(linear, left top, left bottom, from(#25BDBB), to(#0CE091));
          background: linear-gradient(180deg, #25BDBB 0%, #0CE091 100%); }
        .fenix-power-wr .power-bg.medium {
          background: -webkit-gradient(linear, left top, left bottom, from(#F6D365), to(#FDC000));
          background: linear-gradient(180deg, #F6D365 0%, #FDC000 100%); }
  .fenix-car:after {
    background: url("../images/car.svg") no-repeat center; }
  .fenix-truck:after {
    background: url("../images/truck.svg") no-repeat center; }
  .fenix-taxi:after {
    background: url("../images/taxi.svg") no-repeat center; }
  .fenix-truck2:after {
    background: url("../images/truck_2.svg") no-repeat center; }

/*# sourceMappingURL=base.css.map */