@media screen and (max-width: 1200px)
	.fenix
		margin: 10px
		max-width: 340px

@media screen and (max-width: 960px)
	.container
		width: 100%
		padding-top: 80px
	.wrapper-content
		margin: 8vh auto auto
	.menu
		position: fixed
		z-index: 101
		width: 320px
		flex: 0 0 320px
		transform: translate(0, 0)
		transition: all .2s linear 
		height: auto
		bottom: 0
		.menu-header
			border-bottom: 1px solid $bgBasic
			padding: 5px 12px 10px
			min-height: 75px
	.menu-visibility
		background: $bgDark
		height: 100vh
		transform: translate(-320px, 0)
		width: 320px
		flex: 0 0 320px
		.menu-options-wr
			padding: 0 30px
		.menu-header
			border-bottom: none
			padding: 5px 12px
			min-height: 75px
		.menu-toggle-btn
			&.visibility
				background: $bgDark url(../images/menu_burger.svg) no-repeat center/24px 24px
				box-shadow: 0px 1px 4px rgb(0, 0, 0)
				flex: 0 0 48px
				height: 48px
				border-radius: 6px
				margin-top: 15px
				transform: translate(323px, 0)
	.menu-close-bg
		position: fixed
		z-index: 100
		top: 0
		bottom: 0
		right: 0
		left: 0
		background-color: rgba(0,0,0,0.6)
		transition: opacity .15s linear
	.submenu
		padding: 17px 15px
		top: 75px

	.copiedMess
		position: fixed

@media screen and (max-width: 768px)
	.container
		background: $bgDark
		padding: 80px 16px 20px

	.menu-visibility
		width: 320px 
		.menu-header
			min-height: 65px
	.submenu
		top: 66px
		padding: 20px 15px 40px

	.menu-items
		padding: 20px 15px

	.container.container-login
		padding: 50px 10px 20px 
		.wrapper-bg
			min-height: 90%
	.wrapper-page
		margin: 0
	.wrapper-content
		margin: 0
		width: 100%
		max-width: 100%
		min-height: 100%
		&-footer
			justify-content: center
			.dropdown
				margin: 0 10px
	.wrapper-bg
		padding: 0
		min-height: 100%
		.close
			margin: 0 0 0
			position: fixed
			top: 34px
	.wrapper-content-btn, .btn.mt-40, .btn.mt-30
		margin-top: auto
	.led-indicator-wr
		margin: 4px -16px 0
		position: relative
		bottom: -20px
		border-radius: 0
	.form-list
		padding-left: 0
	.details-wrapper-bg
		padding: 0
		min-height: 100%
	.manage-details-title
		margin-top: -45px
		text-align: center
		margin-left: 60px
	.details-item
		flex-direction: column
		justify-content: flex-start
		.content
			padding-left: 0
			flex: 0 0 auto
		.title
			flex: 0 0 auto
			margin-bottom: 10px
			br
				display: none
		.content-item
			margin-bottom: 8px

	.details-footer
		margin: auto -16px 0
		position: relative
		bottom: -20px
		flex-wrap: wrap
		border-radius: 0
		flex-direction: row-reverse
	.details
		&-items
			padding: 20px 0 0
		&-item:not(:last-child)
			padding-bottom: 10px
		&-item
			.content-item-group
				.details-blue-title
					width: auto
					margin-bottom: 5px
	.revert-btn
		position: fixed
		top: 24px
		right: 15px
	.fenix
		flex: 0 0 100%
		max-width: 450px
		margin: 10px 0
		&-footer
			gap: 0 7px
			.btn-md
				width: 120px
		&-bg
			padding: 15px 20px 15px
		&-list
			margin: 0
			justify-content: center

	.locations-notifications
		width: auto
		min-width: 300px
		&-close
			flex: 0 0 14px

	.mob-hidde
		display: none

	.setting-item-wr
		padding-left: 0

	.accaunt-link
		display: flex
		flex-direction: column
		align-items: center
		.link
			margin: 15px 0 0

	.dropdown-list
		right: -15px
		padding: 10px 0

	.modal
		&-sm
			max-width: 100%
		&-content
			margin: auto 10px
			padding-top: 20px
			position: relative
			max-width: 100%
		&-title
			padding: 0 10px 20px
		&-btn-group
			padding: 10px 15px 20px
			justify-content: space-between
			gap: 10px
			.btn
				min-width: 40%
				width: auto
		&-img-mob
			display: flex
		&-close
			position: absolute
			right: -17px
			top: 10px
		&-body
			padding: 0 15px 20px
			.list
				margin-top: 0
			.extend-mode
				flex-direction: column
				gap: 6px 0
	.modal-btn-group .btn
		min-width: 130px
		
	.details-title
		font-size: 1.4rem

	.power-status
		margin-left: -4px

	.details-mode
		padding-left: 5px
		padding-top: 3px
	
	.list li
		margin-bottom: 10px

	.action-date
		width: 100px
		flex: 0 0 100px

	.scroll-height
		height: 100%

	.select-icon-wr
		justify-content: center

	.select-icon-item
		min-width: 140px

	.setting-changed
		padding: 0 7px
		&:before
			left: 0
			right: 0
		
	.wrapper-content-btn
		padding-top: 20px

	.btn-group
		gap: 10px


@media screen and (max-width: 550px)
	.action-list
		margin-top: 15px
		&.list
			li
				flex-direction: column
			.action-date
				flex: 0 0 auto

	.btn-next
		&:before, &:after
			right: 5px

	.details-footer-btn
		padding: 10px 10px 5px
		flex: 0 0 100%

	.select-icon-item
		width: 45%
		min-width: 100px

	.select-icon-item.config-select-item
		margin: 5px
		
	.select-icon-wr
		gap: 0