.leaflet-control-layers-base label div, .leaflet-control-layers-overlays label div {
    /* font-weight: normal; */
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;

    text-align: left;
}

.leaflet-control-layers-base label div:hover, .leaflet-control-layers-overlays label div:hover {
    background-color: #ddd;
}

.expander {
    text-align: center;
    cursor: pointer;
}


.leaflet-tooltip-left:before {
    right: 0;
    margin-right: -12px;
    border-left-color: rgba(0, 0, 0, 0.4);
}
.leaflet-tooltip-right:before {
    left: 0;
    margin-left: -12px;
    border-right-color: rgba(0, 0, 0, 0.4);
    }
.leaflet-tooltip-own {
    position: absolute;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px solid #000;
    color: #000;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

/* Default icon URLs */
/* .leaflet-default-icon-path {
    background-image: url(/images/marker-icon.png);
} */

/* .leaflet-default-shadow-path {
    background-image: url(/images/marker-shadow.png);
} */
