/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

@media screen and (max-width: 800px) {
    .nomobile {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .nodesktop {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .modal {
        top: 5% !important;
        width: 99% !important;
        max-height: 90% !important;
    }
}

leaflet-map {
    height: 100%;
    width: 100%;
    /* width: 800px;
    height: 600px; */
    /* position: absolute; */
    outline: none;
    left: 0;
    top: 0;
    /* background-color: #18f; */
}

.leaflet-map {
    position: relative;
    width: 100%;
    height: 100%;
}

.control {
    position: absolute;
    bottom: 0;
    /* height: 64px; */
    width: 100%;
    left: 0;
    overflow: auto;
    z-index: 1001;
    /* background-color: rgba(255,255,255,0.5); */
    /* background:#e5e5e5; */
    background: url(/static/media/background.dc0fba31.png) no-repeat center/cover;
}


input.sms_code {
    text-align: left;
}
input.sms_code::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
    text-align: left;
}
input.sms_code::-moz-placeholder { /* Firefox 19+ */
    color: pink;
    text-align: center;
    align-content: center;
}
input.sms_code:-ms-input-placeholder { /* IE 10+ */
    color: pink;
    text-align: center;
    align-content: center;
}
input.sms_code:-moz-placeholder { /* Firefox 18- */
    color: pink;
    text-align: center;
    align-content: center;
}

dt {
    /* display: inline-block; */
}

dd {
    /* display: inline-block; */
}

.connection {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -30px;
    width: 200px;
    height: 60px;
    background-color: white;
    color: black;
    border: 1px solid black;
    opacity: 1;
}

.head-control {
    color: white;
    float: right;
    margin: 20px;
    font-size: 24px;
    padding: 0;
}

.head-control i {
    margin: 5px;
}

/* @import './leaflet.scss';*/

.scard {
    margin-top: 10px;
    min-width: 175px;
}

.scard .row:last-child {
    padding-bottom:14px;
}

.scard button {
    width: 95%;
}
.scard a {
    width: 95%;
}

@media only screen and (min-height: 500px) {
    .header_expander {
        height: 20px;
    }
}

.led_flash {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 8px;
}

.led_fast_flash {
    /* -webkit-animation: led_fast_flashs 0.12s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: led_fast_flashs 0.12s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; */
    /* -webkit-animation: led_fast_flashs 0.12s linear infinite;
            animation: led_fast_flashs 0.12s linear infinite; */

    animation: bg 1s steps(1) infinite;
}

.led_slow_flash {
    -webkit-animation: led_fast_flashs 1.0s linear infinite;
            animation: led_fast_flashs 1.0s linear infinite;

}

@keyframes bg {
  0% {
    background: red;
  }
  10% {
    background: black;
  }
}

@-webkit-keyframes led_fast_flashs {
  0% {
      background-color: black;
  }
  100% {
      background-color: #ff7777;
  }
}

@keyframes led_fast_flashs {
    0% {
        background-color: black;
    }
    100% {
        background-color: #ff7777;
    }
}

@keyframes led_slow_flashs {
    0% {
        background-color: black;
    }
    95% {
        background-color: black;
    }
    97% {
        background-color: #ff7777;
    }
    100% {
        background-color: black;
    }
}

span.params {
    margin-left: 5px;
    margin-right: 5px;
}

span.params_default {
}

span.params_waited {
    color: green;
    font-weight: bold;
}

.param_row {
    border: 1px solid #cccccc;
    border-radius: 10px;
    position: relative;
    margin-bottom: 11px !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.param_row {
    /* background-color: #eeeeee; */
    /* background-image: linear-gradient(white, #eeeeee); */
}

.param_row:hover {
    /* background-color: #eeeeee; */
    /* background-image: linear-gradient(white, #dddddd); */
    border: 1px solid #777777;
}

.param_row_filler {
    /* background-color: red; */
    /* margin-bottom: 100px; */
    display: block;
    width: 100%;
    min-height: 36px;
    content: '';
}

.param_row .name {
    position: absolute;
    top: -11px;
    background-color: black;
    padding-left: 4px;
    padding-right: 4px;
}

.param_row button {
    padding: 0 6px 0 6px;
    height: 30px;
    width: 30px;
    /* background-color: white !important;
    color: black; */
}

.param_row button i {
    vertical-align: top;
    margin-top: -3px;
    /* margin-left: -1px; */
}

.params_footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: white;
    z-index: 1000;
    border-top: 1px solid #cccccc;
    box-shadow: 0px -5px 5px rgba(0,0,0,0.05);
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat  {
    margin-left: 3px !important;
}

.single-chart {
  /* width: 180px; */
  /* justify-content: space-around ; */
  position: relative;
  width: 120px;
  height: 120px;
  left: 50%;
  margin-left: -35px;
}

/* @media only screen and (min-height: 500px) {
    .single-chart {
        position: relative;
        width: 150px;
        height: 150px;
        height: 20px;
        right: 0;
    }
} */


.single-chart .title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
    margin-top: -48px;
    /* font-size: 3em; */
    font-size: 50px;
    color: #777777;
}

.circular-chart {
  display: block;
  margin: 0;
  /* max-width: 80%;
  max-height: 150px; */
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 5.0;
}

.circle {
  fill: none;
  stroke-width: 4.0;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.chart_green .circle {
  stroke: #4CC790;
}

.circular-chart.chart_blue .circle {
  stroke: #3c9ee5;
}

.percentage_title {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.4em;
  text-anchor: middle;
}
.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.percentage_title {
   font-family: "Font Awesome 5 Free";
}

.percentage_title:before {
    content: "\f013";
}

.sessions {
    margin-bottom: 4px !important;
}

.sessions .col:first-child {
    /* background-color: green; */
    text-align: right;
    padding-right: 5px;
    padding-left: 0;
}

.sessions .col:nth-child(2) {
    /* background-color: red; */
    text-align: left;
    padding-left: 5px;
    padding-right: 0;
    white-space: nowrap;
}

.cmdWidget {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    /* background-color: lime; */
    padding-top: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cmdWidget div {
    flex-wrap: nowrap;
}

.cmdWidget div button {
    height: 68px;
    white-space: initial;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.cmdWidget div button i {
    float: none !important;
    display: block !important;
    margin: 0;
    line-height: 20px;
    margin-top: 10px;
}

.viewWidget_h {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 80px;
    /* margin-bottom: 150px; */
    overflow: scroll;
    /* background-color: purple; */
}

.viewWidget {
    line-height: 1.3em;
    font-size: 0.9em;
}

.sessions {
    display: block;
}

.sessions div {
    font-size: 0.8em;
    display: inline-block;
}

.sessions div:first-child {
}

.batView p {
    /* padding: 0; */
    /* margin: 0; */
    margin-top: 1px;
    margin-bottom: 1px;
}

/* .progress {
    position: absolute !important;
} */

.cmdWaitLabel {
    margin-top: 10px;
}


/* input:-webkit-autofill::first-line,
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
          background-color: blue !important;
      } */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
        border: 0;
        color: #8F90A3;
         -webkit-text-fill-color: #8F90A3;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);
}

a.btn {
    line-height: 50px;
}

a.disabled {
    pointer-events: none;
}

span.error {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ff4f4f;
}

a.input-label {
    color: gray;
    text-decoration: underline;
    /* text-align: center; */
}

/* 24dp elevation */
.z-depth-5, .modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal {
  /* display: none; */
  position: fixed;
  left: 0;
  right: 0;
  /* background-color: #fafafa; */
  background: url(/static/media/background.dc0fba31.png) no-repeat center/cover;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
  overflow: hidden;
}

.modal:focus {
  outline: none;
}

@media only screen and (max-width: 992px) {
  .modal {
    width: 80% !important;
  }
}

.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
}

.modal .modal-content {
  padding: 24px;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  /* background-color: #fafafa; */
  /* background: url(/static/media/background.dc0fba31.png) no-repeat center/cover; */
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

.modal-footer {
    display: flex;
}

/* @media only screen and (max-width: 992px) {
    .modal {
        top: 5% !important;
        width: 99% !important;
        max-height: 90% !important;
    }
} */

.red-btn {
    background-color: red;
}

input.sms_code {
    margin: 10px;
    padding: 10px;
    /* background: none;
    border-bottom: 1px solid gray; */
}

tr.log-line td {
    padding-top: 15px;
}

tr.log-line td:first-child {
    margin-top: 15px;
    /* width: 100%; */
    width: 100px;
    color: #8F90A3;
}



/* TODO: Move to design */

.dropdown-list li.title {
    cursor: auto;
}

.menu {
    z-index: 1001;
}

.d-flex {
    display: flex;
}

button[disabled] {
    background-color: gray;
    cursor: not-allowed;
}

/* .btn { */
    /* padding: 5px 10px 5px 10px; */
    /* white-space: nowrap;
} */

/* .btn-lg {
    padding: 2px 43px 2px 18px;
} */


/* .fenix {
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

@media screen and (max-width: 1200px) {
  .fenix {
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}

@media screen and (max-width: 768px) {
  .fenix {
          -ms-flex: 1 0 100%;
              flex: 1 0 100%;
  }
} */

/* .fenix-status .off-status {
  background: -webkit-gradient(linear, left bottom, left top, from(#101010), to(#000000));
  background: linear-gradient(0deg, #101010 0%, #000000 100%);
} */

/* .modal-body {
    color: #DFE0F3;
    font-size: 1.14rem;
} */


span#passwordText {
    margin-left: 4px;
}

/* button {
    background: none;
    padding: 16px 0 16px 0;
} */

/* .details-footer {
    padding: 0 16px 0 16px;
} */

.locations {
    z-index: 1001;
}

.container-map {
    /* border: 10px solid black; */
    /*position: relative;
    padding: 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 calc(100% - 334px);
    flex: 1 0 calc(100% - 334px);
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #F6F7FA; */
}

.locations-notifications-close:after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
}

.map-debug {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}
